$primary: #009cc7;

$blue: #009cc7 !default;
$dark-blue: #112375 !default;
$indigo: #656565 !default;
$red: #a2221d !default;
$yellow: #ffbf18 !default;
$green: #008100 !default;
$magenta: #9a1f60 !default;

$program-prof-cert: #a736ee;

// Theme fonts
$font-family-title: Plex;
$serif: Crimson;
$f-sans-serif: Crimson, 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;

// Initialize the Open edX Bootstrap theme
@import "edx-bootstrap/sass/open-edx/theme";